<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Default Package Sources; works like the 'packageSources' section of NuGet.Config files. -->
  <!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
  <packageSources>
    <add key="Local Db Codegen" value="../DbAccessCodeGen/nupkg" />
  </packageSources>
</configuration>
